@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-family-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.arrow-hover {
  transition: transform 0.3s ease;
}

.group:hover .arrow-hover {
  transform: translateX(4px);
}